@font-face {
    font-family: 'TheoVanDoesburg';
    src: url('TheoVanDoesburg.woff2') format('woff2'),
        url('TheoVanDoesburg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

