<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
		<title>des papiers | RECTO</title>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/fonts.css">
		<link rel="stylesheet" href="../css/style.css">

</head>
<!-- règles -> classe ruler -->
<body class="recto">
	<div id="page">

		<div id="scans">
			
		</div>

		<div id="info">
			<p class="id size28">N°&nbsp;191031-1124-45</p>
			<p class="nom size19">Duminil Saint-Loubert<br>Horellou Nguyen</p>

			<img id="photo" src="../photos/charles.jpg" alt="">
		</div>

		<div id="trame"></div>

		<div id="recit">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quia dolorum molestias placeat rerum autem recusandae ratione, esse sed amet consequatur quisquam voluptatem est error ad quod magnam dolore facilis!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit ipsa nesciunt delectus explicabo, eaque, numquam facilis vitae consequatur placeat aperiam voluptatibus id. Hic eos, voluptate voluptates fuga quo autem.</p>
		</div>
	</div>




	<script src="../js/jquery-3.3.1.min.js"></script>
	<script>
		
		$(function(){

			console.log("des papiers VERSO READY");

			$.ajax({
				url: "images.json"
			}).done(function(data) {

				// let fin 	= shuffleArr(data.fin).slice(0, shuffleInt(2,3) )
				// let normal 	= shuffleArr(data.normal).slice(0, shuffleInt(2,2) )
				// let dense 	= shuffleArr(data.dense).slice(0, shuffleInt(2,3) )

				let all		= shuffleArr(data.fin).slice(0, shuffleInt(2,3) )
								.concat( shuffleArr(data.normal).slice(0, shuffleInt(2,3) ) )
								.concat( shuffleArr(data.dense).slice(0, shuffleInt(2,2) ) )

				let mot 	= shuffleArr(data.mot).slice(0, shuffleInt(2,3) )

				// console.log("all",all)
				// console.log("mot",mot)

				all.forEach(function(im){

					let p = `../images/scans/${im.path}`
					let w = shuffleFloat(im.wMin,im.wMax,0)
					let r = shuffleFloat(im.rMin,im.rMax,3)

					let img = $("<img>")
						.attr("src", p)
						.css( 'top', `${ Math.random()*29.7 }cm`)
						.css( 'left', `${Math.random()*21 }cm`)
						.width( `${w}mm` )
						.css( 'transform', `rotate(${r}deg)`)

					$("#scans").append(img)
				})

				mot.forEach(function(im){

					let p = `../images/scans/${im.path}`
					let w = shuffleFloat(im.wMin,im.wMax,0)
					let r = shuffleFloat(im.rMin,im.rMax,3)

					let img = $("<img>")
						.attr("src", p)
						.css( 'top', `${ Math.random()*29.7 }cm`)
						.css( 'left', `${Math.random()*21 }cm`)
						.width( `${w}mm` )
						.css( 'transform', `rotate(${r}deg)`)

					$("#scans").append(img)
				})

			});

		})

		function shuffleArr(a) {
			for (let i = a.length - 1; i > 0; i--) {
				const j = Math.floor(Math.random() * (i + 1));
				[a[i], a[j]] = [a[j], a[i]];
			}
			return a;
		}

		function shuffleInt(min,max){
			return min+Math.round( Math.random()*(max-min) ) 
		}

		function shuffleFloat(min,max,precision){
			let decimales = Math.pow(10,precision)

			return Math.round( decimales*(min + Math.random()*(max-min) ) )/decimales
		}

	</script>

 
 </body>
</html>