<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
		<title>Machine Aubette Flyer</title>
		<link rel="stylesheet" href="fonts/roboto/stylesheet.css">
		<link rel="stylesheet" href="fonts/vandoesburg/stylesheet.css">
		<link rel="stylesheet" href="css/style.css">

</head>
<body class="ruler verso">
	<div id="fond">

		<p>VERSO Ceci est le verso</p>

		


	</div>




	<script src="js/jquery-3.3.1.min.js"></script>
	<script>
		
		$(document).ready(function(){

			console.log("des papiers READY");

			

		})



	</script>

 
 </body>
</html>